<h1>Admin::Dashboard#show</h1>
<p> The total number of products in my store are: <%= @totalProductsCount%></p>
<p> The total number of categories of products in my store are: <%= @totalCategoriesCount%></p>

