<h1>About Us!</h1>
<p>We are <b>JUNGLE</b>. An online e-commerce store</p>
<p> This JUNGLE store (founded 1981) is where you can find all your creative items
    to decorate your place! From clothes to cool furniture to whatever you 
    can imagine, we have it , and if not we can get it for you!
</p>
<p> We believe excellent customer service is our top priority, that is why we
    have lots of resources available to help you find what you are looking for. 
</p>
